:root {
  font-family: 'Inter', sans-serif;

  color-scheme: light dark;
  color: rgb(250, 250, 250);
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  padding: 0;
  margin: 0;
}